@using Nfl.SqlServer.DataContext.Entities
@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<form>
    <div class="form-group">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group">
        <label for="down">Down</label>
        <select multiple class="form-control" id="down" asp-for=@Model.Query.Downs>
            @foreach(int down in Model.Downs)
            {
                <option>@down</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="playType">Play Type</label>
        <select multiple class="form-control" id="playType" asp-for=@Model.Query.PlayTypes>
            @foreach (NflPlayType playType in Model.NflPlayTypes)
            {
                <option value=@playType.Id>@playType.Description</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</form>
@if(Model.NFLPlays is not null)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Offense Team</th>
                <th scope="col">Defense Team</th>
                <th scope="col">Down</th>
                <th scope="col">Play Type</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (NflPlay play in Model.NFLPlays)
            {
                <tr>
                    <th scope="row">@play.PlayId</th>
                    <td>@play.OffensiveTeam.ShortName</td>
                    <td>@play.DefensiveTeam.ShortName</td>
                    <td>@play.Down</td>
                    <td>@play?.NflPlayType?.Description</td>
                    <td>@play.Description</td>
                </tr>
            }
        </tbody>
    </table>
}
